body {
    font-size: 16px;
    padding: 2rem;
    margin: 0;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    outline: 1px solid crimson;
}
main p {
    padding: 30px;
    margin: 30px;
    border: 1px solid limegreen;
    font-family: Tahoma;
}
h1 {
    font: small-caps 3rem/1.5 'Times New Roman',serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: teal;
}
