.flexgrid {
    border: 2px solid limegreen;
    background-color: #cdffce;
}
.row {
    display: flex;
}

.row_cell {
    border: 2px solid orange;
    flex: 1;
    background-color: #c7c7c7;
    margin: 6px;
}
.row_cell_1 {
    border: 2px solid orange;
    flex: 1;
    background-color: #c7c7c7;
    margin: 6px;
}
.row_cell_2 {
    border: 2px solid orange;
    flex: 2;
    background-color: #c7c7c7;
    margin: 6px;
}
