.form {
    background-color: rgb(194, 215, 204);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    width: 320px;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 1rem auto;
}
.form > p {
    margin: 0 0;
}
.form h3 {
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(62, 66, 48);
}
/*Stars*/
.form div:first-of-type {
    margin: 0.5rem auto;
    direction: rtl;
}
.star {
    color: gray;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 0.2rem;
}
.star:hover, .star:hover ~ .star {
    color: red;
    transition: 0.2s;
}
.textwrapper { /*lifts the textarea label up*/
    display: flex;
    align-items: flex-start;
}
#userName, #email {
    height: 2rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
}
input[type="radio"], input[type="checkbox"] {
    width: 20px;
}
label {
    padding-right: 1rem;
    font-weight: bold;
    color: rgb(62, 66, 48);
}
label[for="male"]::before, label[for="subYes"]::before {
    content: "(optional)";
    color: #9e9e9e;
    padding-right: 5px;
    font-weight: normal;
}
input[type="submit"] {
    width: 320px;
    height: 70px;
    background-image: linear-gradient(#0d3b1d, #2a4b19);
    color: #fff;
    font: small-caps 1.5rem/1.5 Arial, sans-serif;
    margin: 2rem auto 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
input[type="submit"]:hover {
    color: #edff1c;
    box-shadow: 0 0 10px #edff1c;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
input:focus, textarea:focus {
    background-color: #f1ffac;
    outline: none;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
textarea, input {
    width: 250px;
    margin-top: 0.5rem;
    border: none;
    font-size: 1rem;
    line-height: 1.2;
}
textarea {
    height: 100px;
}
