.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
div.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Preview pic*/
.row img {
    width: 12%;
}
/*Zoom-view window*/
div.zoom_view {
    width: 50%;
    border: 2px solid skyblue;
    padding: 0.5rem;
    background-color: #fff;
    margin: 0.5rem auto;
    position: relative;
}
/*Zoom-viewed pic*/
.zoom_view img {
    width: 100%;
