table {
    background-color: #cdcdcd;
    width: 50vw;
    border-spacing: 1px;
    margin: 3rem auto;
}
caption {
    font: bold small-caps 20px/1.5 Verdana, serif;
    background-color: #cdcdcd;
}
table, caption {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.65);
}
th {
    text-transform: uppercase;
}
th, td {
    padding: 10px;
}
tr:nth-child(odd) {
    background-color: #fff;
}
th:first-child, tr > td:first-child {
    width: 15px;
    padding: 10px;
    text-align: center;
}
tr > td:nth-child(n+2) {
    border-left: 1px solid #fff;
}
