.table table {
    background-color: #cdcdcd;
    width: 50vw;
    border-spacing: 1px;
    margin: 3rem auto;
}
.table caption {
    font: bold small-caps 20px/1.5 Verdana, serif;
    background-color: #cdcdcd;
}
.table table, .table caption {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.65);
}
.table th {
    text-transform: uppercase;
}
.table th, .table td {
    padding: 10px;
}
.table tr:nth-child(odd) {
    background-color: #fff;
}
.table th:first-child, .table tr > td:first-child {
    width: 15px;
    padding: 10px;
    text-align: center;
}
.table tr > td:nth-child(n+2) {
    border-left: 1px solid #fff;
}
